<body>
  <div class="component">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>

      <!-- End of Sidebar -->
      <!-- Content Wrapper -->

      <div class="keep">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="wrapper">
          <!-- Added text-center class -->
          <h2>Laboratoire</h2>
          <!-- Title is now centered -->
          <div class="form-group">
            <div class="input-box">
              <div *ngIf="selectedLaboratoire">
                <form (submit)="submitForm()">
                  <div class="input-box">
                    <input
                      type="text"
                      class="form-control"
                      name="code"
                      id="code"
                      required
                      [(ngModel)]="selectedLaboratoire.code"
                      style="max-width: 500px; height: 30px"
                    />
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      class="form-control"
                      name="designation"
                      id="designation"
                      required
                      [(ngModel)]="selectedLaboratoire.designation"
                      style="max-width: 500px; height: 30px"
                    />
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      class="form-control"
                      name="emai"
                      id="email"
                      required
                      [(ngModel)]="selectedLaboratoire.email"
                      style="max-width: 500px; height: 30px"
                    />
                  </div>

                  <div class="input-box">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      required
                      [(ngModel)]="selectedLaboratoire.password"
                      style="max-width: 500px; height: 30px"
                    />
                  </div>
                  <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">
                      Enregistrer les modifications
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
