<div class="back">
  <div class="wrapper">
    <div class="main-content">
      <nav class="navbar">
        <ul>
          <li><a routerLink="/Home">Accueil</a></li>
          <li><a routerLink="/clients">Liste des utilisateurs</a></li>
          <li><a routerLink="/signup">nouveaux utilisateur</a></li>
          <li><a routerLink="/signup">nouveaux laboratoire</a></li>
          <li><a routerLink="/signup">liste des laboratoires</a></li>
          <li><a routerLink="/signup">nouveaux produits</a></li>
          <li><a routerLink="/signup">liste des produits</a></li>
        </ul>
        <button class="logout-btn" (click)="logout()">Déconnexion</button>
      </nav>
    </div>
  </div>
</div>
