<body style="background-color: #f6f5f2">
  <div class="component">
    <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <app-header></app-header>
          <div class="keep">
            <div class="wrapper">
              <h2>nouveau laboratoire</h2>
              <form class="form-group" (submit)="createLab()">
                <div class="input-box">
                  <input
                    type="text"
                    class="form-control"
                    id="code"
                    name="code"
                    [(ngModel)]="code"
                    required
                    placeholder="code de laboratoire"
                  />
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    class="form-control"
                    id="designation"
                    name="designation"
                    [(ngModel)]="designation"
                    required
                    placeholder="designation de laboratoire"
                  />
                </div>
                <div class="input-box">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    [(ngModel)]="email"
                    required
                    placeholder="email@gmail.com/fr"
                  />
                </div>
                <div class="input-box">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    [(ngModel)]="password"
                    required
                    placeholder="mot de passe"
                  />
                </div>
                <div class="col-12 mb-3 text-center">
                  <button type="submit" class="btn btn-primary">ajouter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
