<div class="back">
  <div class="wrapper">
    <div class="main-content">
      <nav class="navbar">
        <ul>
          <li><a routerLink="/Home">Accueil</a></li>
          <li><a routerLink="/clients">Liste des utilisateurs</a></li>
          <li><a routerLink="/signup">nouveaux utilisateur</a></li>
          <li><a routerLink="/laboratoire">nouveaux laboratoire</a></li>
          <li><a routerLink="/signup">liste des laboratoires</a></li>
          <li><a routerLink="/signup">nouveaux produits</a></li>
          <li><a routerLink="/signup">liste des produits</a></li>
        </ul>
        <button class="logout-btn" (click)="logout()">Déconnexion</button>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="formulaire">
    <h1 class="text-center">compte laboratoire</h1>
  </div>
  <form>
    <div class="form-group">
      <div class="col-md-6">
        <div class="form__field">
          <input type="text" id="code" name="code" required />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="form__field">
          <input type="text" id="designation" name="designation" required />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="form__field">
          <input type="email" id="mail" name="mail" required />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="form__field">
          <input type="password" id="password" name="password" required />
        </div>
      </div>
    </div>
    <button type="submit">Soumettre</button>
  </form>
</div>
