.background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
:host {
  background-image: url("src/assets/Dashboard Login.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Couleur de fond du composant */
  display: block; /* Assure que l'élément racine du composant est affiché en tant que bloc */
  min-height: 100vh; /* Assure que le composant occupe au moins la hauteur de l'écran */
}



.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  margin-top: -100px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

.form-group {
  margin-top: 30px;
}

.form__field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.form-control {
  height: 80%;
  width: 200%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
  margin-left: 20px;
}

button {
  color: #fff;
  background-color: #0078B8;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 110px;
  width: 110px;
}

button:hover {
  background-color: #0078B8;
}

.text-center {
  text-align: center;
  margin-left: 80px;
  display: inline;
}
input{outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;}


  .title h4 {
    display: inline-block; /* Affiche les mots sur la même ligne */
  }

/*header*/
.navbar {
  background-color: #0078B8;
  border-radius: 4px;
  box-shadow: 0 1px 20px 0 #14203E;
  padding: 0.5rem 1rem;
  display: flex;
  height: 60px;
  align-items: center; /* Centrer verticalement les éléments dans la navbar */
}

.navbar ul {
  flex-grow: 1; /* Fait en sorte que la liste prenne tout l'espace disponible */
  display: flex;
  justify-content: center; /* Centrer horizontalement les éléments dans la liste */
}

.navbar ul li {
  margin: 0 10px; /* Ajoute un espace autour de chaque élément de liste */
}

.logo img {
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  color: rgba(245, 245, 245, 0.842);
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.wrapper .navbar-icon img {
  width: 20px; /* Réduire la taille de l'icône du compte */
  height: 20px;
  margin-right: 10px;
}

.logout-btn {
  background-color: whitesmoke;
  color: #0078B8;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  margin-top: 0px;
}
