<body>
  <div class="component">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>

      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <app-header></app-header>
          <div class="keep">
            <div class="wrapper">
              <h2>nouveau Responsable</h2>
              <form class="form-group" (submit)="createAccount()">
                <div class="input-box">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                    [(ngModel)]="email"
                    placeholder="email@gmail.com/fr"
                  />
                </div>
                <div class="input-box">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                    [(ngModel)]="password"
                    placeholder="mot de passe"
                  />
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">ajouter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
