<body style="background-color: #f6f5f2">
  <div class="component">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>

      <!-- End of Sidebar -->
      <div class="col-lg-10 grid-margin stretch-card">
        <div class="card" style="margin-top: 70px">
          <div style="padding-top: 10px">
            <h4
              class="card-title"
              style="margin-bottom: -50px; margin-left: 30px"
            >
              Laboratoires
            </h4>
            <div class="table-responsive">
              <table
                class="table table-striped"
                style="width: auto; margin-left: 30px; margin-right: 30px"
              >
                <!-- Set table width to auto -->
                <div>
                  <div class="table-users">
                    <table cellspacing="0">
                      <tr>
                        <th style="width: 5%">Code</th>
                        <th style="width: 5%">Libelle</th>
                        <th style="width: 5%">stockresoff</th>
                        <th style="width: 5%">cm</th>
                        <th style="width: 5%">mois</th>
                        <th style="width: 5%">venteresoff</th>
                        <th style="width: 5%">stockdepreg</th>
                        <th style="width: 5%">ventedepreg</th>
                        <th style="width: 5%">entree</th>
                        <th style="width: 5%">reception</th>
                        <th style="width: 5%">sdouane</th>
                        <th style="width: 5%">annocee</th>
                        <th style="width: 5%">soldecde</th>
                        <th style="width: 5%">encours</th>
                        <th style="width: 10%">etat</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let product of products">
                          <td>{{ product.code }}</td>
                          <td>{{ product.libelle }}</td>
                          <td>{{ product.stockresoff }}</td>
                          <td>{{ product.cm }}</td>
                          <td>{{ product.mois }}</td>
                          <td>{{ product.venteresoff }}</td>
                          <td>{{ product.stockdepreg }}</td>
                          <td>{{ product.ventedepreg }}</td>
                          <td>{{ product.entree }}</td>
                          <td>{{ product.reception }}</td>
                          <td>{{ product.sdouane }}</td>
                          <td>{{ product.annocee }}</td>
                          <td>{{ product.soldecde }}</td>
                          <td>{{ product.encours }}</td>
                          <td>{{ product.etat }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
