<div class="component">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class="video-container">
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
        <video autoplay muted loop class="video-background">
          <source src="/assets/1.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
