.component {
  height: 100%;

  display: flex;
  flex-direction: row; /* Aligne les éléments horizontalement */
}


.video-container {

  flex: 1; /* Laisse la vidéo prendre tout l'espace restant */
 /* Assure que la vidéo est positionnée correctement */
}

.video-background {
  width: 101%; /* Assure que la vidéo couvre toute la largeur */
 margin-top: -20px;
 background-size:cover;
}
